.cast_glenn, .cast_carmen, .cast_francisco
  margin: 0
  padding: 20px 0 20px 0
  height: 160vh
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-attachment: fixed

  section
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    background: $transparent-grey
    color: white
    margin-top: 20px
    padding: 10px
    text-align: center
    height: 300px
    width: 30%

    // for ScrollMagic to make magic
    opacity: 0
    transform: translateY(50px)
    transition: all 1s ease-out

.cast_glenn
  background-image: url("../img/glenn_snow.jpg")

  section
    @include grid-push(1)

.cast_carmen
  background-image: url("../img/glenn+girl.jpg")

  section
    @include grid-push(7)

.cast_francisco
  background-image: url("../img/francisco.png")
  background-position: top

  section
    @include grid-push(1)

.crew
  margin: 0
  padding: 20px 0px 20px 0px
  height: 100vh
  width: 100%

  background-image: url("../img/cast_hero.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  section
    @include grid-push(3)
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    background: $transparent-grey
    color: white
    margin-top: 20px
    padding: 10px
    text-align: center
    height: 300px
    width: 50%
    overflow: scroll

    // for ScrollMagic to make magic
    opacity: 0
    transform: translateY(50px)
    transition: all 1s ease-out


.crew_list
  margin: 0
  padding: 0
  display: inline-block
  float: left
  height: 100%
  width: 40%
  letter-spacing: 1px

  li
    margin: 0
    width: 100%
    text-align: left
    float: left

  li:hover
    font-size: 120%
    color: grey

.crew_display
  margin: 0
  display: inline-block
  float: right
  height: 90%
  width: 60%
  overflow: scroll
  text-align: left

.scroll
  overflow: scroll
  height: 80%
  text-align: left

section.fade-in
  opacity: 1
  transform: translateY(0)
