// .hero_cast
//   background-image: url("../img/cast_hero.jpg")
//   background-repeat: no-repeat
//   background-size: cover
//   background-position: center
//   height: 400px
//   width: 100%
//   background-color: #fff
//   text-align: center
//   margin-top: 0
//
//   p
//     color: white
//     position: absolute
//     left: 0
//     top: 28%
//     width: 100%
//     text-align: center
//     font-size: 175%

.cast_glenn
  margin: 0
  padding: 20px 0px 20px 0px
  height: 100vh
  width: 100%

  background-image: url("../img/glenn_snow.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  section
    @include grid-push(1)
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    background: $transparent-grey
    color: white
    margin-top: 20px
    padding: 10px
    text-align: center
    height: 300px
    width: 300px

.cast_the_girl
  margin: 0
  padding: 20px 0px 20px 0px
  height: 100vh
  width: 100%

  background-image: url("../img/glenn+girl.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  section
    @include grid-push(7)
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    background: $transparent-grey
    color: white
    margin-top: 20px
    padding: 10px
    text-align: center
    height: 300px
    width: 300px

.crew
  margin: 0
  padding: 20px 0px 20px 0px
  height: 100vh
  width: 100%

  background-image: url("../img/cast_hero.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  section
    @include grid-push(1)
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    background: $transparent-grey
    color: white
    margin-top: 20px
    padding: 10px
    text-align: center
    height: 300px
    width: 300px
