.box_large
  +size(150px)
  text-align: center
  margin-top: 80px
  display: block

  background-image: url("../img/placeholder.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @include grid-column(6)
  @include grid-push(3)

.box_small
  +size(75px)
  text-align: center
  display: block

  background-image: url("../img/placeholder.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @include grid-column(3)
  @include grid-shift(3)
