.box_large
  +size(150px)
  text-align: center
  margin-top: 30px
  display: block

  background-image: url("../img/placeholder.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @include grid-column(6)
  @include grid-push(3)

.box_small-1
  +size(75px)
  text-align: center
  display: block
  margin-top: 20px
  margin-bottom: 20px

  background-image: url("../img/placeholder.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @include grid-column(3)
  @include grid-push(3)

.box_small-2
  +size(75px)
  text-align: center
  display: block
  margin-top: 20px
  margin-bottom: 20px

  background-image: url("../img/placeholder.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  @include grid-column(3)
