.hero_story
  background-image: url("../img/story_hero.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-attachment: fixed
  height: 180vh
  width: 100%
  text-align: center
  margin-top: 0

  section
    @include grid-push(2.5)
    @include border-top-radius(10px)
    @include border-bottom-radius(10px)

    background: $transparent-grey
    color: white
    padding: 20px
    text-align: left
    height: 230px
    width: 55%
    position: relative
    top: 55%
    left: 0
