.hero
  background-image: url("../img/hero-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-attachment: fixed
  height: 165vh
  width: 100%
  text-align: center
  margin-top: 0

  h1
    color: white
    position: absolute
    margin: 0
    left: 0
    top: 15%
    width: 100%
    text-align: center
    font-size: 800%

  p
    color: white
    position: absolute
    left: 0
    top: 35%
    width: 100%
    text-align: center
    font-size: 200%

.articles
  position: relative
  top: 55%
  left: 0

  @include grid-column(12)
