.hero
  background-image: url("../img/hero-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 600px
  width: 100%
  background-color: #fff
  text-align: center
  margin-top: 0

  h2
    color: white
    position: absolute
    margin: 0
    left: 0
    top: 10%
    width: 100%
    text-align: center
    font-size: 800%

  p
    color: white
    position: absolute
    left: 0
    top: 30%
    width: 100%
    text-align: center
    font-size: 200%
