/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top: -20em;
  margin-left:-6em;
  background:#111;
  width:6em;
  height:6em;
  padding: 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
}

.arrow {
  position:relative;
  top: 75%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}
