<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{ page.title }} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./assets/css/all.css" />
</head>

<body>

  <header>
    <nav>
      <h3><a href="index.html">Silverdome</a></h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="cast-crew.html">Cast & Crew</a></li>
        <li><a href="story.html">The Story</a></li>
        <li><a href="trailer.html">Trailer</a></li>
      </ul>
    </nav>

  </header>

  <div class="content">
    {{ content }}
  </div>

  <footer>
    <ul>
      <li><a href="index.html">Silverdome the Movie</a></li>
      <li><a href="mailto:info@silverdomemovie.com?subject=feedback">Contact us!</a></li>
    </ul>
    <div class="sm-div">

      <a href="https://www.facebook.com/silverdomefilm/" target="_blank"><img class="sm sm-facebook" src="../assets/img/facebook.png" alt="sm_facebook"></a>
      <a href="https://twitter.com/SilverdomeMovie" target="_blank"><img class="sm sm-twitter" src="../assets/img/twitter.png" alt="sm-twitter"></a>
      <a href="https://www.instagram.com/silverdomefilm/" target="_blank"><img class="sm sm-instagram" src="../assets/img/instagram.png" alt="sm-instagram"></a>
    </div>

  </footer>

<script type="text/javascript" src="./assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script type="text/javascript" src="./assets/js/main.js"></script>

</body>
</html>
